@import 'resets';
@import 'queries';

.coming-soon {
	height: 100vh;
	width: 100vw;
	.coming-soon-content {
		display: flex;
		.content-left,
		.content-right {
			width: 50vw;
		}
		.content-left {
			.left-screen1 {
				background-color: transparent;
				height: 100vh;
				padding: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				z-index: 1;
				position: relative;
				.load-animation {
					position: absolute;
					height: 100%;
					width: 0;
					top: 0;
					left: 0;
					background-color: rgba(51, 51, 51, 1);
					animation: pageLoad 0.75s ease-in-out;
					z-index: 1;
				}
				&.moveUp {
					transform: translateY(-100vh);
					transition: all 1s;
				}
				&.moveDown {
					transform: translateY(0vh);
					transition: all 1s;
				}
				nav {
					display: flex;
					justify-content: space-between;
					align-items: center;
					opacity: 0;
					animation: pageLoadAppear 3s forwards;
					h3 {
						font-size: 2.5rem;
						font-weight: 300;
					}
					a {
						color: #222;
						text-decoration: none;
						font-weight: 700;
						margin-right: 1.5rem;
						align-self: center;
					}
				}
				h1 {
					font-size: 7rem;
					max-width: 40rem;
					line-height: 1;
					color: rgba(51, 51, 51, 0.89);
					margin-bottom: 3rem;
					opacity: 0;
					animation: pageLoadAppear 3s 0.5s forwards;
				}
				p {
					max-width: 35rem;
					font-size: 1.5rem;
					margin-bottom: 3rem;
					opacity: 0;
					animation: pageLoadAppear 3s 1s forwards;
				}
				button {
					padding: 0.75rem 2rem;
					font-size: 1.25rem;
					background: transparent;
					border: 2px solid rgba(51, 51, 51, 0.89);
					position: relative;
					opacity: 0;
					animation: pageLoadAppear 3s 1.5s forwards;
					div.background {
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						background-color: rgba(51, 51, 51, 0.89);
						z-index: -1;
					}
					&:hover {
						cursor: pointer;
						color: #fff;
						transition: all 0.5s;
						div.background {
							width: 100%;
							clip-path: polygon(0 0, 90% 0, 80% 101%, 0 101%);
							transition: all 0.5s;
						}
					}
				}
				.footer-links {
					opacity: 0;
					animation: pageLoadAppear 3s 2s forwards;
					a {
						color: #222;
						margin-right: 1.5rem;
						i {
							color: #222;
							font-size: 1.25rem;
						}
					}
				}
			}
			.left-screen2 {
				background-color: #24262b;
				height: 100vh;
				width: 100%;
				padding: 5rem;
				display: flex;
				flex-direction: column;
				z-index: 1;
				position: relative;
				&.moveUp {
					transform: translateY(-100vh);
					transition: all 1s;
				}
				&.moveDown {
					transform: translateY(0vh);
					transition: all 1s;
				}
				.back {
					padding: 0.5rem 1rem;
					font-size: 1.25rem;
					background-color: transparent;
					color: rgba(255, 255, 255, 0.301);
					border: 2px solid rgba(255, 255, 255, 0.3);
					align-self: flex-start;
					&:hover {
						cursor: pointer;
					}
				}
				.form {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					.form-header {
						text-align: center;
						color: #fff;
						margin-bottom: 5rem;
						h1 {
							font-size: 3rem;
							font-weight: 300;
						}
						p {
							font-size: 1.2rem;
						}
					}
					.form-body {
						display: flex;
						flex-direction: column;
						color: #fff;
						label {
							margin-bottom: 0.5rem;
						}
						input {
							margin-bottom: 1.5rem;
							padding: 0.5rem;
						}
						textarea {
							padding: 0.5rem;
							margin-bottom: 1rem;
						}
						input:focus,
						textarea:focus {
							outline: transparent;
						}
						button {
							width: 12rem;
							padding: 0.5rem;
							font-size: 1.2rem;
							background-color: transparent;
							border: 2px solid #fff;
							color: #fff;
							position: relative;
							div.background {
								position: absolute;
								top: 0;
								right: 0;
								width: 0;
								height: 100%;
								background-color: #fff;
								z-index: -1;
							}
							&:hover {
								cursor: pointer;
								color: #222;
								transition: all 0.5s;
								div.background {
									width: 100%;
									clip-path: polygon(
										100% 0,
										100% 101%,
										15% 101%,
										5% 0
									);
									transition: all 0.5s;
								}
							}
						}
					}
				}
			}
		}
		.content-right {
			background-size: cover;
			overflow: hidden;
			position: relative;
			.bgImage {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 0;
				transform: scale(1.1);
				&.showImg {
					transform: scale(1);
					opacity: 1;
					transition: all 7s;
				}
				&.hideImg {
					transform: scale(1.1);
					opacity: 0;
					transition: all 7s;
				}
			}
		}
	}
}

.countdown {
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: right;
	color: #fff;
	line-height: 1.2;
	h2 {
		font-size: 4.5rem;
	}
}

@keyframes pageLoad {
	0% {
		width: 0%;
		opacity: 1;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 0%;
		opacity: 0;
	}
}

@keyframes pageLoadAppear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
